@model IEnumerable<LAFARGE.Models.Quality>

@{
    ViewData["Title"] = "Qualities";
}

<h1>Qualities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Quality name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameQuality)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdQuality">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdQuality">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdQuality">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
